---
title: Demo
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
    data-theme="{{ site.theme-color }}">
    <h2>Demo</h2>
</div>

<main class="demo-wrapper">
    <dl class="demo-item">
        <dd class="demo-img"><a href="http://vincentzhang.site/vux-demo/dist/index.html#/" target="_blank"><img src="https://raw.githubusercontent.com/likonion/vux-demo/master/static/QQ20170803-164135.png" alt=""></a></dd>
        <dt><a href="http://vincentzhang.site/vux-demo/dist/index.html#/" target="_blank">vux-demo</a></dt>
        <dd>主要技术: VUE VUX</dd>
        <dd>说明：基于VUE构建，VUE UI控件的使用</dd>
        <dd class="code-link"><a href="https://github.com/likonion/vux-demo" target="_blank">源码 &lt;&frasl;&gt;</a></dd>
    </dl>
    <dl class="demo-item">
        <dd class="demo-img"><a href="http://vincentzhang.site/chatDefault/dist/index.html#/" target="_blank"><img src="https://github.com/likonion/chatDefault/raw/master/static/default.png" alt=""></a></dd>
        <dt><a href="http://vincentzhang.site/chatDefault/dist/index.html#/" target="_blank">chatDefault</a></dt>
        <dd>主要技术: vue2 + vuex + vue-router + webpack + ES6/7 + mockjs + sass</dd>
        <dd>说明：基于VUE的一个客服界面演示，练习</dd>
        <dd class="code-link"><a href="https://github.com/likonion/chatDefault" target="_blank">源码 &lt;&frasl;&gt;</a></dd>
    </dl>
    <dl class="demo-item">
        <dd class="demo-img"><a href="http://vincentzhang.site/xmair_zhizhuang_mobile/dist/index.html#/index" target="_blank"><img src="https://raw.githubusercontent.com/likonion/xmair_zhizhuang_mobile/master/static/IMG_DED19AF17548-1.jpeg" alt=""></a></dd>
        <dt><a href="http://vincentzhang.site/xmair_zhizhuang_mobile/dist/index.html#/index" target="_blank">制装劳保移动端界面</a></dt>
        <dd>主要技术: VUE VUX</dd>
        <dd>说明：制装劳保移动端界面</dd>
        <dd class="code-link"><a href="https://github.com/likonion/xmair_zhizhuang_mobile" target="_blank">源码 &lt;&frasl;&gt;</a></dd>
    </dl>
    <dl class="demo-item">
        <dd class="demo-img"><a href="http://vincentzhang.site/kendoui-demo/" target="_blank"><img src="https://github.com/likonion/kendoui-demo/raw/master/Snipaste_2017-12-29_16-51-11.png" alt=""></a></dd>
        <dt><a href="http://vincentzhang.site/kendoui-demo/" target="_blank">kendoui-demo</a></dt>
        <dd>主要技术: VUE VUX</dd>
        <dd>说明：基于VUE构建，VUE UI控件的使用</dd>
        <dd class="code-link"><a href="https://github.com/likonion/kendoui-demo" target="_blank">源码 &lt;&frasl;&gt;</a></dd>
    </dl>
</main>
{% include footer.html %}